button {
  margin-left: 15rem;
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 14px;
  font-weight: 300;
  color: #424242;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  background-color: #f1f1f1;
  padding: 8px 23px;
}

button:disabled {
  background-color: #dfdfdf;
  color: #343434;
  border: 1px solid #d6d6d6;
}

#chart {
  display: flex;
  justify-content: flex-end;
}
