.container {
  display: flex;
  justify-content: right;
}

button {
  margin-left: 15rem;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  margin-right: 90px;
  font-family: Poppins;
  margin-top: 20px;
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #7851c0;
  padding: 8px 23px;
  cursor: pointer;
  align-items: flex-end;
  justify-content: center;
  font-family: Poppins;
  font-weight: 600;
}

#chart {
  display: flex;
  justify-content: flex-end;
}
