<!-- dynamic values, but one format, through this method there's no need to copy and paste codes intensively thus it reduce code lines -->

<div class="orders">
  <h2 class="customOrder">Customer's Order</h2>
  <div class="sort">
    <button
      class="sortBtn"
      (click)="sortCustomersBy('OrderID')"
      [disabled]="byOrderIDisEnable"
    >
      Sort by Order ID
    </button>
    <button
      class="sortBtn"
      (click)="sortCustomersBy('date')"
      [disabled]="byDateisEnable"
    >
      Sort by Date
    </button>
    <button
      class="sortBtn"
      (click)="sortCustomersBy('name')"
      [disabled]="byNameisEnable"
    >
      Sort by Name
    </button>
  </div>

  <br />

  <div class="fluid-container" [ngStyle]="containerStyle">
    <div class="orderContainer" *ngFor="let customer of customers">
      <div class="customer">
        <div class="label">
          <span class="customerName">{{ customer.name }} </span>
          <span class="orNum"> #{{ customer.orderNumber }}</span> <br />
        </div>
        <span class="DaT">{{
          customer.dateAndTime | date : "EEEE, MMMM d, y, HH:mm:ss"
        }}</span>

        <hr border="solid 1px #424242" />
        <table class="tableValues">
          <tr>
            <th>Items</th>
            <th>Qty</th>
            <th>Price</th>
          </tr>
          <tr>
            <td>
              {{
                (customer.items.item1.brand +
                  " " +
                  customer.items.item1.name +
                  " " +
                  customer.items.item1.weight +
                  " " +
                  customer.items.item1.type | slice : 0 : 20) + "..."
              }}
              <!-- truncate text -->
            </td>

            <td>{{ customer.items.item1.quantity }}</td>
            <td>{{ customer.items.item1.price }}</td>
          </tr>
          <tr
            *ngIf="
              customer.items.item2?.brand ||
              customer.items.item2?.name ||
              customer.items.item2?.weight ||
              customer.items.item2?.type
            "
          >
            <td>
              {{
                ((customer.items.item2?.brand || +"") +
                  " " +
                  (customer.items.item2?.name || "") +
                  " " +
                  (customer.items.item2?.weight || "") +
                  " " +
                  (customer.items.item2?.type || "") | slice : 0 : 20) + "..."
              }}
            </td>
            <td>{{ customer.items.item2?.quantity }}</td>
            <td>{{ customer.items.item2?.price }}</td>
          </tr>
          <tr
            *ngIf="
              customer.items.item3?.brand ||
              customer.items.item3?.name ||
              customer.items.item3?.weight ||
              customer.items.item3?.type
            "
          >
            <td>
              {{
                (customer.items.item3?.brand +
                  " " +
                  customer.items.item3?.name +
                  " " +
                  customer.items.item3?.weight +
                  " " +
                  customer.items.item3?.type | slice : 0 : 20) + "..."
              }}
            </td>
            <td>{{ customer.items.item3?.quantity }}</td>
            <td>{{ customer.items.item3?.price }}</td>
          </tr>
          <tr
            *ngIf="
              customer.items.item4?.brand ||
              customer.items.item4?.name ||
              customer.items.item4?.weight ||
              customer.items.item4?.type
            "
          >
            <td>
              {{
                (customer.items.item4?.brand +
                  " " +
                  customer.items.item4?.name +
                  " " +
                  customer.items.item4?.weight +
                  " " +
                  customer.items.item4?.type | slice : 0 : 20) + "..."
              }}
            </td>
            <td>{{ customer.items.item4?.quantity }}</td>
            <td>{{ customer.items.item4?.price }}</td>
          </tr>
          <tr
            *ngIf="
              customer.items.item5?.brand ||
              customer.items.item5?.name ||
              customer.items.item5?.weight ||
              customer.items.item5?.type
            "
          >
            <td>
              {{
                (customer.items.item5?.brand +
                  " " +
                  customer.items.item5?.name +
                  " " +
                  customer.items.item5?.weight +
                  " " +
                  customer.items.item5?.type | slice : 0 : 20) + "..."
              }}
            </td>
            <td>{{ customer.items.item5?.quantity }}</td>
            <td>{{ customer.items.item5?.price }}</td>
          </tr>
          <tr>
            <td class="total">Total</td>
            <td></td>
            <td style="font-weight: 500; color: #3b3b3b">
              {{ calculateTotal(customer) }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

