.nav {
  background-color: #7851c0;
  margin: -0.5rem -0.5rem;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  gap: 5px;
  width: 12rem;
  padding-bottom: 100%;
  padding-top: 100;
  position: fixed;
  overflow: auto;
}
a,
#siteTitleObject {
  text-decoration: none !important;
  text-wrap: nowrap;
  color: aliceblue;
}

i {
  color: aliceblue !important;
}
img {
  width: 18%;
  height: 18%;
  object-fit: cover;
}

#siteTitleObject {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  font-size: larger;
  font-family: Rock Salt;
}

.nav-item {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  color: antiquewhite;
}

#siteTitleObject {
  margin-left: 1rem;
}
