<!-- The user can just skip some fields since the thing to be added can be pet or animal -->
<!-- User can only add one item per order -->

<div class="container">
  <h2 mat-dialogue-title>Add Order</h2>
  <mat-dialog-content class="mat-typography">
    <span>Customer Name: </span>
    <input
      type="text"
      name="ItemName"
      id="ItemName"
      [(ngModel)]="newCustomer.name"
      required
    />
    <br />

    <!-- content for drop down -->

    <mat-form-field>
      <mat-label>Select Item</mat-label>
      <mat-select [formControl]="itemControl" required>
        @for (item of inventories; track item) {
        <mat-option [value]="item.name">{{ item.name }}</mat-option>
        }
      </mat-select>
      @if (itemControl.hasError('required')) {
      <mat-error>Please choose an animal</mat-error>
      }
    </mat-form-field>

    <!-- content for drop down -->

    <br />

    <span>Quantity: </span>
    <input
      type="number"
      name="Quantity"
      id="Quantity"
      [ngModel]="getQuantity()"
      (ngModelChange)="setQuantity($event)"
      required
    />

    <br />

    <button type="submit" (click)="submitForm()">Submit</button>
    <button (click)="cancelDialog()" id="cancel">Cancel</button>
  </mat-dialog-content>
</div>
