<!-- component for sidebar-nav -->
<!-- each item is separated; including the logo and the identifier -->
<div class="bg">
  <div class="nav">
    <div id="siteTitleObject">
      <img src="/assets/favicon.png" alt="Pet Store" />
      <p>Pet Store</p>
    </div>
    <div class="nav-item">
      <i class="bx bx-store"></i>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </div>
    <div class="nav-item">
      <i class="bx bx-pie-chart-alt-2"></i>
      <a routerLink="/total-sales" routerLinkActive="active">Total Sales</a>
    </div>
    <div class="nav-item">
      <i class="bx bx-shopping-bag"></i>
      <a routerLink="/inventory" routerLinkActive="active">Inventory</a>
    </div>
    <div class="nav-item">
      <i class="bx bx-data"></i>
      <a routerLink="/analysis" routerLinkActive="active">Analysis</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
