<div class="container">
  <div class="totalSales">
    <h2 class="customOrder">Total Sales</h2>
    <div>
      <canvasjs-chart
        [options]="chartOptionsDaily"
        [styles]="{ width: '100%', height: '360px' }"
      ></canvasjs-chart>
    </div>

    <div>
      <canvasjs-chart
        [options]="chartOptionsWeekly"
        [styles]="{ width: '100%', height: '360px' }"
      ></canvasjs-chart>
    </div>

    <div>
      <canvasjs-chart
        [options]="chartOptionsMonthlyy"
        [styles]="{ width: '100%', height: '360px' }"
      ></canvasjs-chart>
    </div>
  </div>
</div>

<div class="container">
  <p><strong>Most Visited Week:</strong> Week {{ findHighestSalesWeek(9) }}</p>
  <p>
    <strong>Feed to order for the upcoming week:</strong>
    <!-- set decimal to 2 -->
    {{ findFeedToOrderForWeek(1, 9) | number: '1.2-2'}}% additional to stocks.
  </p>
</div>
